*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
 }
 
 .navbar{
    height: 8vh;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
 }

 .dados{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 
 
 .me{
     background-image: url(./assets/wallpaper.jpeg) ;
     background-size: cover;
     mix-blend-mode: darken;
 
 
     height: 92vh;
     padding-bottom: 15px;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-evenly;
 
 }
 .me h1{
     color: whitesmoke;
     font-family: 'Mooli', sans-serif;
 }
 .me h4{
     color: whitesmoke;  
 }
 .me img{
 
     width: 300px;
     height: 300px;
     border-radius: 500rem;
 
     box-shadow: -1px 2px 39px 45px rgba(1,101,101,0.57);
     -webkit-box-shadow: -1px 2px 39px 45px rgba(1,101,101,0.57);
     -moz-box-shadow: -1px 2px 39px 45px rgba(1,101,101,0.57);
 
     border-width: 5px; 
     border-style: solid;
     border-color:  rgb(0,139,139);
  
 }
 
 
 
 
 .aboutMe{
     height: 98vh;
     color: whitesmoke;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #141414;
 }
 
 
 
 
 .about p{
     width: 60vw;
     margin-top: 15px;
     padding: 20px;
 }
 
 
 .skillsContainer{
     display: grid;
     justify-content: center;
     width: 100%;
     padding: 15px;
     
 
 
 }
 
 .skillsContainer h1{
     text-align: center;
 }
 
 .skills{
     display: grid;
     justify-items: center;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     padding: 15px;
     gap: 35px;
     padding-bottom: 20px;
 }
 
 .skills .card{
     width: 150px;
     height: 100px;
     font-size: medium;
     display: grid;
     align-items: center;
     justify-content: center;
 
     border-radius: 25px;
     border-width: .5px; 
     border-style: solid;
     border-color:  rgb(0,139,139);
 }
 
 
 .skills h1{
     text-align: center;
 }
 
 
 
 
 
 .redes ul{
     display: inline-flex;
 }
 
 .redes li{
     list-style: none;
     padding-right: 25px;
 }
 
 .redes li a{
     text-decoration: none;
     color: whitesmoke;
 }
 
 
 
 
 .projectsContainer{
     display: flex;
     width: 100%;
     padding: 15px;
     background-color: #2f2f2f;
     color: whitesmoke;
     flex-direction: column;
 }
 
 .projectsContainer img{
     width: 531.1px;
     height: 222px;


 }

 .projectsContainer h1{
    text-align: center;
 }
 

 .projects .card{
     width: 150px;
     height: 100px;
 
     display: grid;
     align-items: center;
     justify-content: center;
 
     border-radius: 25px;
     border-width: .5px; 
     border-style: solid;
     border-color:  rgb(0,139,139);
 }
 
 .projects .card a{
     color: whitesmoke;
     text-decoration: none;
 }
 .projects ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 35px;
    padding: 15px;
}
.projects li{
    list-style: none;

}
 
.footer{
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.footer span{
    color: whitesmoke;
    
}
